#grid .participants {
    background-color: #f0f3f5;
    border-radius: 3px;
    overflow: hidden;
    padding: 12px 4px;
    text-align: center;
}
#grid .participants .arrow {
    background-image: url('../images/arrowgrid.jpg');
    background-position: top center;
    height: 40px;
    width: 100%;
    float: left;
}
#grid .participants .hidden {
    display: none;
}
#grid .participants .slide {
    background-color: white;
    border: 1px solid #e4e8ee;
    border-radius: 5px;
    box-shadow: 0 2px 2px rgba(60, 84, 103, .13);
    display: inline-block;
    height: 245px;
    margin: 3px 6px;
    overflow: hidden;
    padding: 10px;
    width: 220px;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}
#grid .participants .slide:hover {
    box-shadow: 0 9px 21px rgba(39, 50, 57, .29);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -o-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}
#grid .participants .slide a {
    display: block;
    text-align: center;
    width: 100%;
}
#grid .participants .slide img {
    border-radius: 3px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(0, 0, 0, 0.3);
    cursor: pointer;
    max-width: 200px;
    height: 121px;
}
#grid .participants .slide p {
    color: #70777a;
    font-size: 13px;
    line-height: 20px;
    font-weight: bold;
    margin-top: 12px;
    width: 200px;
}
#grid .participants .slide p strong {
    color: #606668;
}