/* Custom Fonts */
@import url('fonts/brandico.css');
@import url('fonts/montserrat.css');
@import url('fonts/opensans/open-sans.css');



.block.has-image .text {
    float: left;
    width: 80%;
    text-align: center;
    margin-left: 10%;
}
.block.has-image figure.image-underneath-title {
    float: none;
    margin-bottom: 20px;
    width: 100%;
}
.block h1 {
    font-size: 40px;
    font-weight: 600;
    line-height: 1.4;
    color: #175879;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
.block div.text p {
    font-size: 15px;
    font-weight: 300;
    line-height: 1.6;
    color: #537789;
    text-align: center;
    width: 80%;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
}
footer.block {
    padding: 30px;
}
.actions div.container {
    border-top: 8px solid #a7ddfa;
}
a {
    color: #1f94d0;
}
.field button {
    border: 1px solid #1788b2;
    /* stroke */
    background-color: #1bafe6;
    /* layer fill content */
    -moz-box-shadow: inset 0 1px 0 #6ed7ff;
    /* inner shadow */
    -webkit-box-shadow: inset 0 1px 0 #6ed7ff;
    /* inner shadow */
    box-shadow: inset 0 1px 0 #6ed7ff;
    /* inner shadow */
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSI1MCUiIHkxPSIxMDAlIiB4Mj0iNTAlIiB5Mj0iLTEuNDIxMDg1NDcxNTIwMmUtMTQlIj4KPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzEwN2ZhNCIgc3RvcC1vcGFjaXR5PSIxIi8+CjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzIwYjJkNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgIDwvbGluZWFyR3JhZGllbnQ+Cgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIgZmlsbD0idXJsKCNoYXQwKSIgLz4KPC9zdmc+);
    /* gradient overlay */
    background-image: -moz-linear-gradient(bottom, #107fa4 0%, #20b2d7 100%);
    /* gradient overlay */
    background-image: -o-linear-gradient(bottom, #107fa4 0%, #20b2d7 100%);
    /* gradient overlay */
    background-image: -webkit-linear-gradient(bottom, #107fa4 0%, #20b2d7 100%);
    /* gradient overlay */
    background-image: linear-gradient(bottom, #107fa4 0%, #20b2d7 100%);
    /* gradient overlay */
}
.field button:hover {
}
.btn-success:hover {
    background-color: #2b96f1;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3), inset 0 1px rgba(255, 255, 255, 0.25);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3), inset 0 1px rgba(255, 255, 255, 0.25);
    border: solid 1px #2473b0;
    border-bottom: 1px solid #20608f;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #2a99ef), color-stop(1, #237bbd));
    background: -webkit-linear-gradient(top, #2a99ef 0%, #237bbd 100%);
    background: -moz-linear-gradient(top, #2a99ef 0%, #237bbd 100%);
    background: -o-linear-gradient(top, #2a99ef 0%, #237bbd 100%);
    background: -ms-linear-gradient(top, #2a99ef 0%, #237bbd 100%);
    background: linear-gradient(top, #2a99ef 0%, #237bbd 100%);
    color: #fff;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
}
.action p {
    text-align: center;
    font-weight: 500;
    line-height: 1.7;
}

section.actions {
    padding-top: 35%;
    background-size: 120%;
}
@media only screen and (max-width: 600px) {
    section.actions {
        padding-top: 70%;
        background-size: 240%;
    }
}
@media (max-width : 767px) {
    body {
        padding: 0;
    }
}
.action#salsa-email form {
    padding-left: 12%;
}
#salsa-email input:focus {
    border-color: #58b6ff;
    -webkit-box-shadow: 0px 0px 25px rgba(39, 141, 220, 1);
    -moz-box-shadow: 0px 0px 25px rgba(39, 141, 220, 1);
    box-shadow: 0px 0px 25px rgba(39, 141, 220, 1);
}
.action h1 {
    font-size: 28px;
    color: #313d44;
}

/* NoScript */
.actions > noscript {
    color: white;
    display: block;
    margin-bottom: 22px;
    text-align: center;
}
.actions > noscript a {
    color: white;
    text-decoration: none;
}
.actions > noscript a:hover {
    color: white;
    text-decoration: underline;
}

/* ADD YOUR SITE iframe & form */
#add-yourself {
    padding-bottom: 0;
}

#add-yourself iframe {
    background-color: #eaeaea;
}

#add-yourself h1 {
    padding-left: 32px;
    padding-right: 32px;
}

#add-yourself iframe {
    border: none;
    display: block;
    height: 460px;
    margin: auto 0;
    margin-top: 32px;
    margin-bottom: 0px;
    width: 100%;
}

@media only screen and (max-width: 530px) {
    #add-yourself iframe {
        height: 740px;
    }
}




/* PARTICIPANTS */
#participants .container {
    max-width: 1110px;
}
@media only screen and (max-width: 1109px) {
    #participants .container {
        max-width: 550px;
    }
}
#participants .paragraph {
    margin: 12px 0 24px;
    text-align: center;
}
#participants .participants {
    border-radius: 3px;
    overflow: hidden;
    padding: 12px 4px;
    text-align: center;
}
#participants .participants .arrow {
    background-image: url('../images/arrowgrid.jpg');
    background-position: top center;
    height: 40px;
    width: 100%;
    float: left;
}
#participants .participants .hidden {
    display: none;
}
#participants .participants .slide {
    background-color: white;
    border: 1px solid #e4e8ee;
    border-radius: 5px;
    box-shadow: 0 2px 2px rgba(60, 84, 103, .13);
    display: inline-block;
    height: 245px;
    margin: 3px 6px;
    overflow: hidden;
    padding: 10px;
    width: 220px;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}
#participants .participants .slide:hover {
    box-shadow: 0 9px 21px rgba(39, 50, 57, .29);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -o-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}
#participants .participants .slide a {
    display: block;
    text-align: center;
    width: 100%;
}
#participants .participants .slide img {
    border-radius: 3px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(0, 0, 0, 0.3);
    cursor: pointer;
    max-width: 200px;
    height: 121px;
}
#participants .participants .slide p {
    color: #70777a;
    font-size: 13px;
    line-height: 20px;
    font-weight: bold;
    margin-top: 12px;
    width: 200px;
}
#participants .participants .slide p strong {
    color: #606668;
}
#view-more-participants {
    display: block;
    margin: 12px auto;
    width: 120px;
}



/* HOW TO RESET */
#how-to-reset .cloud {
    margin-bottom: 40px;
display: block;
margin-left: auto;
margin-right: auto;
padding-bottom: 40px;
border-bottom: 1px solid #e5ecef;
}

#how-to-reset{
    padding-bottom: 0px;
}


#how-to-reset h1 {
    margin-bottom: 42px;
}

#how-to-reset .slides {
    text-align: center;
}


#how-to-reset .slide {
    display: inline-block;
    height: 270px;
    margin-bottom: 32px;
    overflow: hidden;
    text-align: center;
    width: 300px;

    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

#how-to-reset .slide h2 {
    border-bottom: 1px solid #ccc;
    color: #175879;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin: 0 auto 12px;
    padding-bottom: 6px;
    width: 160px;
}

#how-to-reset .slide img {
    margin-bottom: 12px;
}

#how-to-reset .slide p {
    color: #537789;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.6;
    margin: 0 auto;
    text-align: center;
    width: 80%;
}

#what-to-do{
	background-color: #8b939c;
	padding-top: 50px;
	padding-bottom: 80px;
	text-align: center;
}


#what-to-do h1{
	color: #fff;
	margin-bottom: 30px;
	
}

#what-to-do .boxholder{
	width: 300px;
	height: 360px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px; /* border radius */
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box; /* prevents bg color from leaking outside the border */
	background-color: #fff; /* layer fill content */
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,.1); /* drop shadow */
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.1); /* drop shadow */
	box-shadow: 0 1px 3px rgba(0,0,0,.1); /* drop shadow */	
	/*float: left;*/
	margin-left: 12px;
	margin-right: 12px;
    overflow: hidden;
	display: inline-block;
	-webkit-transition:  0.3s ease-in-out;
	-moz-transition:  0.3s ease-in-out;
	-ms-transition:  0.3s ease-in-out;
	-o-transition:  0.3s ease-in-out;
	transition: 0.3s ease-in-out;	
	border: 1px solid #e4e8ee;
	margin-top: 15px;
	margin-bottom: 15px;
}



#what-to-do .boxholder:hover{
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px; /* border radius */
-moz-background-clip: padding;
-webkit-background-clip: padding-box;
background-clip: padding-box; /* prevents bg color from leaking outside the border */
background-color: #fff; /* layer fill content */
-moz-box-shadow: 0 9px 21px rgba(39,50,57,.29); /* drop shadow */
-webkit-box-shadow: 0 9px 21px rgba(39,50,57,.29); /* drop shadow */
box-shadow: 0 9px 21px rgba(39,50,57,.29); /* drop shadow */
-webkit-transform: scale(1.05);
-moz-transform: scale(1.05);
-o-transform: scale(1.05);
-ms-transform: scale(1.05);
transform: scale(1.05);
}


#what-to-do .boxheader{
-moz-border-radius: 5px 5px 0 0;
-webkit-border-radius: 5px 5px 0 0;
border-radius: 5px 5px 0 0; /* border radius */
background-color: #e8eef3;
height: 75px;

text-align: center;
padding-top: 15px;
}

#what-to-do .boxheader h2{
font-weight: lighter;
color: #616e7f;
font-size: 30px;

}

#what-to-do .boxtext{
font-size: 13px;
text-align: center;
font-family: 'Montserrat', sans-serif;
padding-left: 20px;
padding-right: 20px;
padding-top: 18px;
font-weight: lighter;
border-top: 5px solid #bdcad7;
height: 180px;
transition: border .2s ease-in-out;
-webkit-transition: border .2s ease-in-out;
-moz-transition: border .2s ease-in-out;

}

#what-to-do .boxtext a{
color: #2c85d9;
text-decoration: underline;

}


#what-to-do .boxholder:hover .boxtext{
border-top: 5px solid #2c85d9;
}

#what-to-do a.button{
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px; /* border radius */
-moz-background-clip: padding;
-webkit-background-clip: padding-box;
background-clip: padding-box; /* prevents bg color from leaking outside the border */
background-color: #2b85d9; /* layer fill content + color overlay */
width: 260px;
float: left;
text-align: center;
color: #fff;
text-decoration: none;
margin-left: 20px;
padding-top: 14px;
padding-bottom: 14px;
}

#what-to-do a.button:hover{
opacity: 0.9;
}

#what-to-do .widebox{
	width: 60%;
	height: auto;
	padding: 2%;
	padding-top: 28px;
	background-color: #354659;
	float: left;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px; /* border radius */
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box; /* prevents bg color from leaking outside the border */
	background-color: #354659; /* layer fill content */
	border-bottom: 4px solid #273544;
	margin-top: 20px;
	margin-left: 18%;
-webkit-transition:  0.3s ease-in-out;
-moz-transition:  0.3s ease-in-out;
-ms-transition:  0.3s ease-in-out;
-o-transition:  0.3s ease-in-out;
transition: 0.3s ease-in-out;	
	
}

#what-to-do .widebox:hover{
-webkit-transform: scale(1.05);
-moz-transform: scale(1.05);
-o-transform: scale(1.05);
-ms-transform: scale(1.05);
transform: scale(1.05);
border-bottom: 4px solid #8b909a;
	
}




#what-to-do .widebox p{
	font-family: 'Montserrat', sans-serif;
	color: #fff;
	float: left;
	width: 60%;
	text-align: right;
	
}


#what-to-do .widebox a.button{
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px; /* border radius */
-moz-background-clip: padding;
-webkit-background-clip: padding-box;
background-clip: padding-box; /* prevents bg color from leaking outside the border */
background-color: #8ea4bd; /* layer fill content + color overlay */
width: 260px;
float: left;
text-align: center;
color: #fff;
text-decoration: none;
margin-left: 20px;
padding-top: 14px;
padding-bottom: 14px;
}

@media screen and (max-width: 1199px) {
    #what-to-do .widebox p {
        text-align: center;
        width: auto;
    }
    #what-to-do .widebox a.button {
        display: block;
        float: none;
        margin: 0 auto;
        overflow: hidden;
    }
    #what-to-do .widebox {
        float: none;
        margin: 20px auto 0;
    }
}

@media screen and (max-width: 460px) {
    #how-to-reset h1 {
        font-size: 32px;
    }
    #how-to-reset .slide {
        height: auto;
        width: 250px;
    }
    #what-to-do h1 {
        font-size: 26px;
        padding: 0 20px;
    }
    #what-to-do .widebox a.button {
        font-size: 12px;
        padding: 8px 0;
        width: 180px;
    }
    #participants h1 {
        font-size: 32px;
    }
    #add-yourself h1 {
        font-size: 26px;
    }
}


.container{
	width: auto;
}

.gocenter{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.progress-bar {
    clear: both;
    margin: 0;
}

.ribbon-container {
    text-align:center;
}
    
#ribbon {
        font-family:'Montserrat';
        padding: .54em 2em;
        margin: 0;
        margin-top: 60px;
        position:relative;
        color: #ffffff;
        font-size: 28px;
        text-align: center;
        letter-spacing:0;
        text-shadow: 0px -1px 0px rgba(0,0,0,0.3);
        box-shadow: inset 0px 1px 0px rgba(255,255,255,.3),
                    inset 0px 0px 20px rgba(0,0,0,0.1),
                    0px 1px 1px rgba(0,0,0,0.6);
         /*background: -webkit-linear-gradient(top,#2C85D9, #2C85D9);
         background: -moz-linear-gradient(top,#2C85D9, #2C85D9);*/
    

    background: -webkit-gradient(linear, 0 0, 0 100%, from(#2C85D9), to(#2C85D9));
    background: -webkit-linear-gradient(#2C85D9, #2C85D9);
    background: -moz-linear-gradient(#2C85D9, #2C85D9);
    background: -o-linear-gradient(#2C85D9, #2C85D9);
    background: linear-gradient(#2C85D9, #2C85D9);
    

      display: inline-block;
    line-height: 1.4;
    }
    
#ribbon:before, #ribbon:after {
        content: "";
        width:.2em;
        bottom:-.5em;
        position:absolute;
        display:block;
        border: .9em solid #2C85D9;
        box-shadow:0px 1px 0px rgba(0,0,0,0.4);
        z-index:-2;
    }
    
#ribbon:before {
        left:-1.35em;
        border-right-width: .75em;
        border-left-color:transparent;
    }
    
#ribbon:after {
        right:-1.35em;
        border-left-width: .75em;
        border-right-color:transparent;
    }
    
#content:before, #content:after {
        content:"";
        bottom:-.5em;
        position:absolute;
        display:block;
        border-style:solid;
        border-color: #0675b3 transparent transparent transparent;
        z-index:-1;
    }
    
#content:before {
      left: 0;
      border-width: .5em 0 0 .5em;
    }
    
#content:after {
      right: 0;
      border-width: .5em .5em 0 0;
    }

#ribbon a {
    color: #fff;
    text-decoration: underline;
}

@media (max-width: 768px) {
    #ribbon {
        font-size: 20px;
    }
    #ribbon:before, #ribbon:after {
        display: none;
    }
    #what-to-do .boxholder {
        width: 290px;
    }
}



/*
 * Imported from Joel's CSS
 */

body {
    padding-top:51px !important;
}

/* Navigation */
.navigation {
    height:51px;
    background: #1a578f;
    position:fixed;
    z-index:999;
    width:100%;
    top:0;
}

.navigation .navinn {
    max-width:768px;
    padding:12px;
    margin:0px auto;
    text-align: center;
}

.navigation .navinn .nav-item {
    color:#5093d0;
    padding:10px 10px 7px 10px;
    margin:0 10px;
    font-size:13px;
    text-decoration:none;
    text-transform:uppercase;
    font-family:'Montserrat';
}

.navigation .navinn .nav-item:hover {
    color:rgba(255,255,255,0.9);
}

.navigation .navinn .nav-item.active {
    color:#fff;
    border-bottom:2px solid;
}

/* Social Buttons */
.sharing-buttons {
    position: fixed;
    top:455px;
    left:0;
    z-index:99;
}

.sharing-buttons .share {
    display: block;
    width:185px;
    left:-10px;
    height:40px;
    background: #000;
    text-decoration: none;
    border-radius: 0 3px 3px 0;
    padding:8px 12px;
    color:#fff;
    font-weight: bold;
    margin-bottom:10px;
    font-size: 13px;
    box-sizing:border-box;
}

.sharing-buttons .share:hover {
    left:0px;
}

.sharing-buttons span.light {font-weight: normal;}

.sharing-buttons .share.twitter {
    background: #59adeb;
}

.sharing-buttons .share.tumblr {
    background: rgb(50,80,110);
}

.sharing-buttons .share.facebook {
    background: #3c5a96;
}

    .sharing-buttons .share.facebook img {margin-top:-3px;}

.sharing-buttons .share.googleplus {
    background: #db585a;
}

/* Quotes */

#quotes {
    padding-bottom: 0px;
}

.quotes-container {
    max-width:960px;
    margin:0px auto;
}

.quote {
    width:280px;
    height:280px;
    background: #4c5d6c;
    padding-top:15px;
    font-weight: normal;
    border-radius: 4px;
    position: relative;
    box-sizing:border-box;
}

    .snowden {
        background-image: url(/images/snowden-background.png);
    }
    .bruce {
        background-image: url(/images/bruce-background.png);
    }
    .granick {
        background-image: url(/images/granick-background.png);
    }

.quote p {
    color:#fff !important;
    line-height: 20px !important;
    font-size: 14px;
    font-weight: normal;
    font-family: Helvetica, Arial, sans-serif;
}

.quote p a {
    color:#fff;
    text-decoration: underline;
    font-weight: normal;
}


.quote img.profile {
    position: absolute;
    border-radius: 50%;
    border:2px solid #5189be;
    left:50%;
    margin-left:-28px;
    bottom:36px;
}

.quote span {
    display: block;
    color:#eee;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-size: 10px;
    position: absolute;
    bottom: 10px;
    width:100%;
}

/* Footer */

footer {
    /*padding: 30px;*/
    height:148px !important;
    border-top:5px solid #e0ebf5 ;
    background: #edf3f9;
    text-align: center;
    color:#175879;
    font-style: 24px;
    padding:48px 0 36px 0;
    font-weight: bold;
    box-sizing:border-box;
    position: relative;
    bottom:-20px;
}

footer.block a {color:#2583db;text-decoration: none;}


#privacy-pack {
    border-bottom: none;
    padding: 20px;
}


/* Ribbon */


 .ribbon {
   background-color: #a00;
   overflow: hidden;
   display: none;
   white-space: nowrap;
   /* top left corner */
   position: fixed;
   right: -50px;
   top: 40px;
   z-index:9999;
   /* 45 deg ccw rotation */
   -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
       -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
           transform: rotate(45deg);
   /* shadow */
   -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.5);
      -moz-box-shadow: 0 0 10px rgba(0,0,0,0.5);
           box-shadow: 0 0 10px rgba(0,0,0,0.5);
 }
 .ribbon a {
   color: #fff;
   display: block;
   font: bold 81.25% 'Helvetica Neue', Helvetica, Arial, sans-serif;
   margin: 1px 0;
   padding: 10px 50px;
   text-align: center;
   text-decoration: none;
   /* shadow */
   text-shadow: 0 0 5px #444;
 }

@media only screen and (max-width: 1400px) {
    .sharing-buttons {
        bottom: 120px;
        top: auto;
    }

    .sharing-buttons .share {
        width:40px;
    }

    .sharing-buttons .share .text {
        display: none;
    }
}

@media only screen and (max-width: 768px) {
    .navigation .navinn {
        padding:12px 4px;
    }
    .navigation .navinn .nav-item {
        color:#5093d0;
        padding:10px 2px 7px 2px;
        margin:0 2px;
        font-size:12px;
        text-decoration:none;
        text-transform:uppercase;
        font-family:'Montserrat';
    }
    .navigation .navinn .press-nav-item {display: none}

    .quotes-container {
        max-width: 280px;
    }

    .quotes-container .span4 {
        margin: 0 0 18px;
    }

}



/*
 * Imported from Privacy Pack CSS
 */
.divider {
  border-bottom: 1px solid #d0e1f2;
}

.well {
  text-align: center;
  color: #8c98a4;
  min-height: 20px;
  padding: 19px;
  margin-bottom: 0px;
  background-color: #f3f7fc;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}

.dark-well {
  text-align: center;
  color: #333;
  min-height: 20px;
  padding: 18px 12px;
  margin-bottom: 35px;
  background-color: #d0e1f2;
  border: 1px solid #e3e3e3;
  word-break: break-all;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}


.badge-title {
  font-size: 20px;
  color: #297fcf;
  text-align: center;
  padding:20px 0;
  font-weight: bold
}

.badge-title.right {
  text-align:right;
}

.badge-help {
  font-size: 12px;
  color: #185991;
  text-align: left;
  padding: 20px 0;
  line-height: 30px;
}

.badge-help.small {
  text-align: center;
  margin-top:-50px;
}

.centered-image {
  display:block;
  margin:auto;
}

.hidden-banners {
  /*display:none;*/
}



/*
 * Imported from internal CSS
 */
body {
    padding-top: 0;
}

.actions {
    background: none;
    background-image: url(/images/background.jpg);
    background-position: center top;
    background-repeat: repeat-x;
    margin-bottom: 90px;
    padding-top: 500px;
}

.actions .container {
    margin-bottom: -140px;
}

.actions:after,.actions:before {
    width: 0;
}

.navbar-fixed-bottom {
    margin: 0;
}

@media screen and (max-width: 460px) {
    .actions {
        background-size: 909px auto;
        padding-top: 250px;
    }

    #big-video {
        padding-right: 40px;
        margin: 0px auto;
        width: 100%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    };
}
