/*
	I'm putting the new styles here meanwhile, we can merge them later – Joel
	Don't mind style or sense in this file, I'll fix that later :);
*/

@import url(fonts/brandico.css);

body {
	padding-top:51px !important;
}
/* Navigation */
.navigation {
	height:51px;
	background: #1a578f;
	position:fixed;
	z-index:999;
	width:100%;
	top:0;
}

.navigation .navinn {
	max-width:768px;
	padding:12px;
	margin:0px auto;
	text-align: center;
}

.navigation .navinn .nav-item {
	color:#5093d0;
	padding:10px 10px 7px 10px;
	margin:0 10px;
	font-size:13px;
	text-decoration:none;
	text-transform:uppercase;
	font-family:'Montserrat';
}

.navigation .navinn .nav-item:hover {
	color:rgba(255,255,255,0.9);
}

.navigation .navinn .nav-item.active {
	color:#fff;
	border-bottom:2px solid;
}

/* Social Buttons */

.sharing-buttons {
	position: fixed;
	top:455px;
	left:0;
	z-index:99;
}

.sharing-buttons .share {
	display: block;
	width:185px;
	left:-10px;
	height:40px;
	background: #000;
	text-decoration: none;
	border-radius: 0 3px 3px 0;
	padding:8px 12px;
	color:#fff;
	font-weight: bold;
	margin-bottom:10px;
	font-size: 13px;
	box-sizing:border-box;
}

.sharing-buttons .share:hover {
	left:0px;
}

.sharing-buttons span.light {font-weight: normal;}

.sharing-buttons .share.twitter {
	background: #59adeb;
}

.sharing-buttons .share.facebook {
	background: #3c5a96;
}

	.sharing-buttons .share.facebook img {margin-top:-3px;}

.sharing-buttons .share.googleplus {
	background: #db585a;
}

/* Quotes */

#quotes {
	padding-bottom: 0px;
}

.quotes-container {
	max-width:960px;
	margin:0px auto;
}

.quote {
	width:280px;
	height:280px;
	background: #4c5d6c;
	padding-top:15px;
	font-weight: normal;
	border-radius: 4px;
	position: relative;
	box-sizing:border-box;
}

	.snowden {
		background-image: url(/images/snowden-background.png);
	}
	.bruce {
		background-image: url(/images/bruce-background.png);
	}
	.granick {
		background-image: url(/images/granick-background.png);
	}

.quote p {
	color:#fff !important;
	line-height: 20px !important;
	font-size: 14px;
	font-weight: normal;
	font-family: Helvetica, Arial, sans-serif;
}

.quote p a {
	color:#fff;
	text-decoration: underline;
	font-weight: normal;
}


.quote img.profile {
	position: absolute;
	border-radius: 50%;
	border:2px solid #5189be;
	left:50%;
	margin-left:-28px;
	bottom:36px;
}

.quote span {
	display: block;
	color:#eee;
	text-transform: uppercase;
	text-align: center;
	font-weight: bold;
	font-size: 10px;
	position: absolute;
	bottom: 10px;
	width:100%;
}

/* Footer */

footer {
    /*padding: 30px;*/
    height:148px !important;
    border-top:5px solid #e0ebf5 ;
    background: #edf3f9;
    text-align: center;
    color:#175879;
    font-style: 24px;
    padding:48px 0 36px 0;
    font-weight: bold;
    box-sizing:border-box;
    position: relative;
    bottom:-20px;
}

footer.block a {color:#2583db;text-decoration: none;}


#privacy-pack {border-bottom: none;}


/* Ribbon */


 .ribbon {
   background-color: #a00;
   overflow: hidden;
   display: none;
   white-space: nowrap;
   /* top left corner */
   position: fixed;
   right: -50px;
   top: 40px;
   z-index:9999;
   /* 45 deg ccw rotation */
   -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
       -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
           transform: rotate(45deg);
   /* shadow */
   -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.5);
      -moz-box-shadow: 0 0 10px rgba(0,0,0,0.5);
           box-shadow: 0 0 10px rgba(0,0,0,0.5);
 }
 .ribbon a {
   color: #fff;
   display: block;
   font: bold 81.25% 'Helvetica Neue', Helvetica, Arial, sans-serif;
   margin: 1px 0;
   padding: 10px 50px;
   text-align: center;
   text-decoration: none;
   /* shadow */
   text-shadow: 0 0 5px #444;
 }

@media only screen and (max-width: 768px) {
	.navigation .navinn {
		padding:12px 4px;
	}
    .navigation .navinn .nav-item {
		color:#5093d0;
		padding:10px 2px 7px 2px;
		margin:0 2px;
		font-size:12px;
		text-decoration:none;
		text-transform:uppercase;
		font-family:'Montserrat';
	}
	.navigation .navinn .press-nav-item {display: none}
	
	.sharing-buttons .share {
		width:40px;
	}

	.sharing-buttons .share .text {
		display: none;
	}

}
































